body{
    font-family: Roboto, "Times New Roman", Courier;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.header{
    display: flex;
    flex-direction: column;
}

.header-top{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
      
}

.links{
    display: flex;
    gap: 8px;
}

.header-bottom{
    display: flex;
}

.header-bottom img{
    width: 100%;
  height: 300px; 
  object-fit: cover;
}

.info{
    display: flex;
  
}


.info-box{
    display: flex;
    flex-direction: column;
}

.info-box img{
    width: 90%;
  height: 150px; 
  object-fit: cover;
  text-wrap: wrap;
}
.quote-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-content p{
    text-align: end;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.action-section{
    display: flex;
    justify-content: center;
}

.action-section div{
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
}

.action-main p{
    margin: 0px;
}

.footer{
    text-align: center;
}
